<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="calificacionSoapBinding" />
                <binding name="usuarioSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://academico.ulasalle.edu.pe:8080/services/services/calificacion"
                binding="basicHttpBinding" bindingConfiguration="calificacionSoapBinding"
                contract="ServicioCalificacion.calificacion" name="calificacion" />
            <endpoint address="http://academico.ulasalle.edu.pe:8080/services/services/usuario"
                binding="basicHttpBinding" bindingConfiguration="usuarioSoapBinding"
                contract="ServicioUsuario.usuario" name="usuario" />
        </client>
    </system.serviceModel>
</configuration>